@{
    ViewData["Title"] = "Welcome!";
}

<div class="jumbotron">
    <h1>O365 Development Bootcamp // Welcome // @DateTime.Now.ToString("dd.MM.yyyy")</h1>
    <p>You are the next in line - please bare with us...!</p>
</div>